md-header {
    position: initial
}

.md-main__inner {
    margin: 0
}

.md-content {
    display: none
}

@media screen and (min-width:60em) {
    .md-sidebar--secondary {
        display: none
    }
}

@media screen and (min-width:76.25em) {
    .md-sidebar--primary {
        display: none
    }
}

/* Custom */
.md-dialog {
    display: none
}

.gradient {
    min-height: 100vh;
    padding: 2rem;
    background-image: linear-gradient(to bottom, var(--md-primary-fg-color), rgba(122, 10, 173, 0.53) 99%, #fff 99%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.hero-img {
    width: clamp(300px, 80%, 700px);
}

.hero p {
    width: clamp(300px, 80%, 700px);
    font-size: .7rem;
}

.hero .md-button {
    justify-content: center;
    width: 30%;
    min-width: 10rem;
    text-align: center;
    border: .1rem solid;
    border-radius: .1rem;
    color: var(--md-default-bg-color);
    cursor: pointer;
    display: inline-block;
    padding: .625em 3em;
    transition: color 125ms,background-color 125ms,border-color 125ms;
    margin-top: .5rem;
    margin-right: .25rem;
    font-weight: 700;
}

.hero .md-button:focus,.hero .md-button:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color)
}

.md-main {
    display: none;
}